article {
  h1 {
    font-size: 1em;
    line-height: 1.6;
    margin: .25em 0;

    a {
      display: block;
    }
  }
}

article[role="main"] {
  h1 {
    font-size: 3em;
    margin-top: .15em;

    @media (max-width: 599px) {
      font-size: 1.5em;
    }

    a, a:link, a:visited {
      text-decoration: none;
      color: inherit;
      color: inherit;
    }

    a:hover, a:active {
      color: inherit;
    }
  }
}

.articles {
  article {
    h1, time {
      display: inline-block;
    }

    time {
      @media (max-width: 599px) {
        display: none;
      }
    }
  }
}