@charset "utf-8";

@import "lib/normalize";
@import "lib/preboot";
@import "syntax";

@yellow:    #b58900;
@orange:    #cb4b16;
// @red:       #dc322f;
@red: #bf4230;

@magenta:   #d33682;
@violet:    #6c71c4;
// @blue:      #268bd2;
@blue: #154a70;
@cyan:      #2aa198;
@green:     #859900;

@white: #fff;
@aubergine: #44414e;
@olive: #889b50;
@carbon: #222;

@ff-meta-serif: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2";
@inconsolata: "inconsolata-1","inconsolata-2";

@copy-font-family: @ff-meta-serif, sans-serif;
@small-font-family: "lucida grande", "lucida sans unicode", "arial", sans-serif;
@code-font-family: @inconsolata, "inconsolata", "menlo", monospace;

// =mixins

.clearfix {
  content: "";
  display: table;
  clear: both;
}

@grid-float-breakpoint: 600px;

.row { .make-row(); }
.column { .make-column(6); }

// =general

body {
  font-family: @copy-font-family;
  font-size: (20 / 16) * 100%; // 20px
  line-height: 1.5; // 30px
}

header {
  text-align: center;
}

h1, h2 {
  font-size: 1em;
  margin: 1.5em 0;
}

p, ul, blockquote, .fluid-width-video-wrapper {
  margin: 1.5em 0;
}

ul {
  list-style-position: outside;
  padding: 0;
}

a:hover, a:active {
  text-decoration: none;
}

time, .tags {
  font-size: .9em;
  line-height: 1.667;
}

pre, code {
  font-family: @code-font-family;
}

pre {
  line-height: 1.2;
}

blockquote {
  font-style: italic;
  padding: 0 .5em;
}

// =layout

.wrap {
  .box-sizing(border-box);
  width: 100%;
  padding: 0 .5em 1em;

  @media (min-width: 600px) {
    max-width: 32em;
    margin: 0 auto;
  }
}

// =article

.articles {
  .row();
  margin: 0 auto;

  article {
    .column();
    margin: 0 0 1.5em;
    text-align: center;

    @media (min-width: 600px) {
      height: 4.5em;
    }
    
    h1 {
      margin: 0;
    }
  }
}

article {
  h1 {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

article[role="main"] {

  h1 a {
    position: relative;

    &:hover:before {
      content: "∞";
      position: absolute;
      left: -1em;
      color: @red;
    }
  }

  &:after {
    content: "◆";
    display: block;
    text-align: center;
  }
}

// =header

header[role="banner"] {
  text-align: center;
  margin-bottom: 1.5em;

  @media (min-width: 600px) {
    margin-bottom: 3em;
  }

  h1 {
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;

    a {
      color: @white;
      background-color: @red;
      display: inline-block;
      padding: .5em .35em .35em;
      text-decoration: none;
    }
  }
}

// =footer

footer[role="contentinfo"] {
  display: none;
  text-align: center;
  font-size: .8em;
  line-height: 1.875;
}

// =theme: default

@link-color: @red;
@link-color-active: @link-color;
@link-color-visited: @link-color;

a, a:link {
  color: @link-color;
}

a:hover, a:active {
  color: @link-color-active;
}

a:visited {
  color: @link-color-visited;
}