@charset "utf-8";

@import "lib/normalize";
@import "lib/preboot";
@import "syntax";

*, *:before, *:after {
  .box-sizing(border-box);
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.wrap:after {
  .clearfix;
}
