<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/feed.xml" rel="alternate" title="Albatross" type="application/atom+xml">
    <%= stylesheet_link_tag "all" %>
    <% if is_blog_article? %>
      <title><%= current_article.title %> | Albatross</title>
    <% else %>
      <title>Albatross</title>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>