@import "normalize";
@import "base";
@import "syntax";
@import "ss-standard";
@import "ss-social-circle";

// =general

body {
  font: 125%/1.6 $copyTypeface;
  color: $textColor;
  background-color: $pageColor;
}

h1, h2, h3 {
  font-family: $headingTypeface;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  margin: 1.6em 0 0;
}

h2 {

}

h3 {

}

a, a:link {
  color: $linkColor;
}

a:hover, a:active {
  color: $linkActiveColor;
}

a:visited {
  color: $linkVisitedColor;
}

time {
  color: $secondaryTextColor;
  font-family: $smallTypeface;
  font-size: 0.55em;
  line-height: 1.45;

  .ss-clock {
    // font-size: 0.5em;
    vertical-align: middle;
    color: lighten($secondaryTextColor, 30%);
  }
}

blockquote {
  margin: 0 5%;
  padding: 0;
  font-style: italic;
}

.fluid-width-video-wrapper { margin: 1.6em 0; }

pre, code {
  background: $codeBackgroundColor;
}

pre {
  padding: 0.5em;
}

nav {
  overflow: hidden;

  h1 {
    float: left;
    font-family: $markTypeface;
    font-size: 3em;

    a, a:link, a:visited {
      text-decoration: none;
      color: $textColor;
    }

    a:hover, a:active {
      color: $linkActiveColor;
    }
  }

  .search {
    float: right;
    margin: 4.8em 0.5em 0;
    line-height: 4.8em;
  }
}

.content h1 + .search {
  padding-top: 1.6em inherit inherit;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  background: $lightCream;
  margin: 1.6em 0 0;
  padding: 0.5em 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
}

.social {

  a {
    margin: 0 0.5em;
  }

  // a:last-child {
  //   margin: 0 0 0 0.35em;
  // }

  // a:first-child {
  //   margin: 0 0.35em 0 0;
  // }

  a:visited {
    color: $linkColor;
  }
}

.fin {
  text-align: center;
  color: $finColor;
}

.copyright {
  display: block;
}

// =search

.search {
  label {
    display: inline-block;
    line-height: 0.45;
    color: $secondaryTextColor;
    padding: 0 0 0 0.25em;
  }

  input {
    display: inline-block;
    border: none;
    background-color: $inputBlurColor;

    &:focus {
      background-color: $inputFocusColor;
    }
  }
}

#search-results {
  &.loading {
    min-height: 1.5em;
  }

  .search-result {
    margin: 1.5em 0;

    p {
      margin: 0;
    }
  }
}

// =layout

#lasso {
  width: 40em;
  margin: 0 auto;
}

// =post

*[role=main] aside {
  text-align: center;
  margin: 1.6em 0 0;

  a, span {
    margin: 0 0.5em;
  }

  a:visited {
    color: $linkColor;
  }
}