@import "normalize";
@import "base";
@import "syntax";
@import "ss-standard";
@import "ss-social-circle";

@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

// =general

body {
  font-family: $copyTypeface;
  font-size: 125%;
  line-height: 1.6;
  color: $textColor;
  background-color: $pageColor;

  @media (max-width: 599px) {
    font-size: 112.5%;
    line-height: 1.44;
  }
}

::selection {
  color: white;
  background-color: $selectionColor;
  text-shadow: none;
}

h1, h2, h3 {
  font-family: $headingTypeface;
  font-weight: normal;

  @media (max-width: 599px) {
    font-weight: bold;
    font-size: 1em;
    margin: 1.44;
  }
}

h1 {
  font-size: 2em;
  margin: 1.6em 0 0;

  @media (max-width: 599px) {
    font-size: 1em;
    margin: 1.44;
  }
}

p, ul, blockquote {
  margin: 1.6em 0;
}

a, a:link {
  color: $linkColor;
}

a:hover, a:active {
  color: $linkActiveColor;
}

a:visited {
  color: $linkVisitedColor;
}

time {
  color: $secondaryTextColor;
  font-family: $smallTypeface;
  font-size: 0.55em;
  line-height: 1.45;

  .ss-clock {
    vertical-align: middle;
    color: lighten($secondaryTextColor, 30%);
  }
}

blockquote {
  margin: 0 5%;
  padding: 0;
  font-style: italic;
}

.fluid-width-video-wrapper { margin: 1.6em 0; }

pre, code {
  font-size: 18px;
  font-family: $codeTypeface;
  background: $codeBackgroundColor;

  @media (max-width: 599px) {
    font-size: 14px;
  }
}

pre {
  padding: 0.5em;
  @include corners;
}

nav {
  overflow: hidden;

  h1 {
    float: left;
    font-family: $markTypeface;
    font-size: 3em;

    @media (max-width: 599px) {
      font-size: 1.5em;
      font-weight: bold;
    }

    a, a:link, a:visited {
      text-decoration: none;
      color: $textColor;
      color: $markColor;
    }

    a:hover, a:active {
      color: $linkActiveColor;
    }
  }

  .search {
    float: right;
    margin: 4.8em 0.5em 0;
    line-height: 4.8em;

    @media (max-width: 599px) {
      display: none;
    }
  }
}

#content h1 + .search {
  padding: 1.6em inherit inherit;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  background: $lightCream;
  margin: 1.6em 0 0;
  padding: 0.5em 0;
  @include top-corners;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
    }
  }
}

.social {

  a {
    margin: 0 0.5em;
  }

  a:visited {
    color: $linkColor;
  }
}

.fin {
  text-align: center;
  color: $finColor;
  margin: 3.2em 0;

  @media (max-width: 599px) {
    margin: 1.6em;
  }
}

.copyright {
  display: block;
}

// =search

.search {
  label {
    display: inline-block;
    line-height: 0.45;
    color: $secondaryTextColor;
    padding: 0 0 0 0.25em;
  }

  input {
    display: inline-block;
    border: none;
    @include corners;
    background-color: $inputBlurColor;

    &:focus {
      background-color: $inputFocusColor;
    }
  }
}

#search-results {
  &.loading {
    min-height: 1.5em;
  }

  .search-result {
    margin: 1.5em 0;

    p {
      margin: 0;
    }
  }
}

// =layout

#lasso {
  @include box-sizing(border-box);
  padding: 0 1em;
  width: 100%;

  @media (min-width: 600px) {
    max-width: 40em;
    margin: 0 auto;
  }
}

// =post

*[role=main] aside {
  text-align: center;
  margin: 1.6em 0 0;

  a, span {
    margin: 0 0.5em;
  }

  a:visited {
    color: $linkColor;
  }
}

// =mask

#content {
  z-index: 1;
}

#mask {
  position: fixed;
  z-index: -1;
  background-color: $startOverlayColor;
  @include transition(background-color 0.35s ease-in);
}

.loading #mask {
  z-index: 100;
  @include box-sizing(border-box);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlayColor;

  span {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    font-size: 9em;
    line-height: 1;
    color: $loadingEllipsisColor;
  }
}