<footer role="contentinfo">
  <ul class="social">
    <li><a href="http://github.com/apucacao" class="ss-icon ss-social-circle">Github</a></li>
    <li><a href="mailto:alexis.georges@gmail.com" class="ss-icon ss-social-circle">Email</a></li>
    <li><a href="/atom.xml" class="ss-icon ss-social-circle">rss</a></li>
    <li><a href="http://vimeo.com/apucacao" class="ss-icon ss-social-circle">Vimeo</a></li>
    <li><a href="http://youtube.com/apucacao" class="ss-icon ss-social-circle">Youtube</a></li>
  </ul>
  <small class="copyright">Copyright © 2001–2012 Alexis Georges</small>
</footer>