<nav>
  <a href="/">home</a>

  <% if is_blog_article? %>
    <% prev_article = current_article.previous_article %>
    <% next_article = current_article.next_article %>
    <% if prev_article %><a href="<%= prev_article.url %>">&laquo; previous</a><% end %>
    <% if next_article %><a href="<%= next_article.url %>">next &raquo;</a><% end %>
  <% end %>
</nav>