---
title: "Albatross"
inverted: true
---

<div class="articles">
<% blog.articles.each do |article| %>
  <article>
    <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
    –
    <time datetime="<%= article.date.strftime('%F') %>"><%= article.date.strftime('%b %d') %></time>
  </article>
<% end %>
</div>